<nav class="app-nav px-3">
    <div class="nav-bar">
        <div class="nav-brand-block">
            <a class="navbar-brand" href="">Piggyzen</a>
            <div class="nav-meta text-white-50">Budget &amp; kategorisering</div>
        </div>
        <input id="main-nav-toggle"
               type="checkbox"
               title="Navigation menu"
               class="navbar-toggler" />
        <div class="nav-links" onclick="document.getElementById('main-nav-toggle').checked = false;">
            <div class="nav-item px-2">
                <NavLink class="nav-link" href="/transactions" Match="NavLinkMatch.All">
                    Transaktioner
                </NavLink>
            </div>
            <div class="nav-item px-2">
                <NavLink class="nav-link" href="/Import" Match="NavLinkMatch.All">
                    Import
                </NavLink>
            </div>
            <div class="nav-item px-2">
                <NavLink class="nav-link" href="/categories" Match="NavLinkMatch.All">
                    Categories
                </NavLink>
            </div>
        </div>
    </div>
</nav>
